[Desktop Entry]
Encoding=UTF-8
Name=Export Web Sites
Name[es]=Export Web Sites
Name[qcv]=Export Web Sites
Name[ca_ES@valencia]=Export Web Sites
Name[ca_ES.UTF-8@valencia]=Export Web Sites
TryExec=/usr/sbin/export-web-sites
Comment=Export web sites to external netcard, like Pmb, Moodle, Jclic...
Comment[qcv]=Exporta las webs hacia la tarjeta de red externa, Pmb, Moodle, Jclic...
Comment[ca_ES@valencia]=Exporta las webs hacia la tarjeta de red externa, Pmb, Moodle, Jclic...
Comment[ca_ES.UTF-8@valencia]=Exporta las webs hacia la tarjeta de red externa, Pmb, Moodle, Jclic...
Comment[ca_ES]=Exporta las webs hacia la tarjeta de red externa, Pmb, Moodle, Jclic...
Comment[es]=Exporta las webs hacia la tarjeta de red externa, Pmb, Moodle, Jclic...
StartupNotify=true
Exec=/usr/sbin/export-web-sites
Icon=/usr/share/export-web-sites/rsrc/export-web-sites-icon.svg
Terminal=false
Type=Application
X-GNOME-Settings-Panel=export-web-sites
X-Unity-Settings-Panel=export-web-sites
Categories=GTK;System;Filesystem;LliureX-Administration;
